
    body {
        margin: 0;
        padding: 0%;
        background-color: rgba(245, 239, 239, 0.932);
    }

    h1 {
        font-family: "Sofia", sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;



  
    }

    header {
        padding-left: 3px;
        top: 0;
        position: relative;
        
    }




    .bottom li {
        color: white;
        font-family: "Open Sans", sans-serif;
        float: left;

    }

    .top li {
        font-family: "Open Sans", sans-serif;
        float: left;
        font-size: 1.3em;
        position: relative;

    }

    .bottom li a {
        display: block;
        text-align: center;
        padding: 10px;
    }
    
    .top li a {
        display: block;
        text-align: center;
        position: relative;
        padding: 10px;


    }

    .top li a:hover {
      text-decoration: underline;
    }





    .bottom {
        list-style-type: none;
        margin: 0;
  padding: 0;
  overflow: hidden;
  bottom: 0;
  position: relative;
 
    }

    article {
        font-family: "Open Sans", sans-serif;
        position: relative;
        margin-top: auto;
        font-size: 1.2em;
        padding: 2%;
    }

    #a1{
        margin-top: 450px;
    }

    .top {
        list-style-type: none;
        margin: 0;
  padding: 0;
  overflow: hidden;
  top: 0;
  position: relative;
  display: flex;
        justify-content: space-evenly;

    }








  




    h2 {
        font-family: "Sofia";
        font-size: 1.5em;
    }

    footer {
        padding: 3px;
        background-color: rgb(20, 19, 19);
        bottom: 0;
        position: relative;
        margin: 0%;

    }


    #cell1 {
        height: 175px;
        width: 175px;
        outline: 2px solid black;
        margin-right: 2%;
 
       background-color: white;
        background-image: url("cofbag.png");
        background-position: center;
        background-size: cover;
        min-width: 125px;
    }

    #cell2 {
        height: 175px;
        width: 175px;
        outline: 2px solid black;
        background-image: url("cofbag3.png");
        background-size: cover;
        background-color: white;
        margin-right: 2%;
        background-position: center;
        min-width: 125px;
       
 
    }

    body {
        overflow-x: hidden;
    }

    #cell3 {
        height: 175px;
        width: 175px;
        outline: 2px solid black;
        margin-right: 2%;
        background-image: url("cofbag2.png");
        background-size: cover;
        background-color: white;
                background-position: center;
                min-width: 125px;
               
    }

    #cell4 {
    
        height: 175px;
        width: 175px;
        outline: 2px solid black;
        margin-right: 2%;
        background-image: url("cof4.png");
        background-size: cover;
        background-color: white;
                background-position: center;
                display: inline;
                min-width: 125px;
            
    }
    
    

    #cell5 {
        height: 175px;
        width: 175px;
        outline: 2px solid black;
        margin-right: 2%;
        background-image: url("cof5.png");
        background-size: cover;
        background-position: center;
        background-color: white;
                display: inline;
                min-width: 125px;
    }



    #products {
        display: flex;
  
   
    }

    #products a {
        background-color: transparent;
        outline: none;
      
        font-family: "Open Sans", sans-serif;
        font-size: 1.1em;
        height: 70px;
        padding: 0%;
        border: none;
        margin-top: 40px;
        right: 0;
        align-items: center;
        display: flex;

    
        position: relative;
       
      
    }

    #products a:hover {
        font-weight: bold;
    }

    @media screen and (max-width: 850px) {
    #cell4 {
        display: none !important;
    }
}

@media screen and (max-width: 1050px) {
    #cell5 {
        display: none !important;
    }
}

header a {
    text-decoration:  none;
    color: black;
}

 

.leftarrow {
  position: absolute;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
color: white;
top: 40%;
left: 0;
background-color: transparent;
  border: none;
}

.rightarrow {
  position: absolute;
  top: 40%;
  right: 0px;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  color: white;
  background-color: transparent;
  border: none;
}

header a:visited{
        
        color: black;
    }

    header a {
        text-decoration: none;
    }

    #products a:visited{
        
        color: black;
    }

    #products a {
        text-decoration: none;
    }

    footer a:visited{
        
        color: white;
    }

    footer a {
        text-decoration: none;
        color: white;
    }
    
    .fadein {
    position:relative;


}
.fadein img {

        position:absolute;

    top:0;
    -webkit-animation-name: fade;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-duration: 12s;
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 12s;
}

@-webkit-keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

#f1 {
}
#f2 {
    -webkit-animation-delay: -8s;
}
#f3 {
    -webkit-animation-delay: -4s;

}

#cart {
    height: 30px;
    width: 30px;

}



